.rental-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    transition: 0.3s;
}

.rental-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.rental-card img {
    max-height: 200px;
    object-fit: cover;
}

.rental-card-body {
    padding: 15px;
}

#searchInput {
    border-radius: 25px;
    padding: 12px 20px;
    font-size: 16px;
    border: 1px solid #ced4da;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

#searchInput:focus {
    border-color: #007bff;
    outline: none;
}

.form-select {
    border-radius: 25px;
    padding: 10px 15px;
    font-size: 16px;
    border: 1px solid #ced4da;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.form-select:focus {
    border-color: #007bff !important;
    outline: none !important;
    box-shadow: 0px 0px 5px rgba(0, 123, 255, 0.5);
}

.form-select option:checked {
    background-color: #e9ecef;
    color: #495057;
}

#filterBtn {
    border-radius: 25px;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    border-color: #007bff;
}

#filterBtn:hover {
    background-color: #0056b3;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
}